# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

# dependencies
/node_modules
node_modules
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/build

# dot env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# local env files
.env*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# shell scripts
*.sh

# misc
dist
dist-ssr
*.local

# python
__pycache__

# next.js
/.next/
/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

